/* =========================
   RESET E BASE
========================= */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background: #d8a2a4;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4,
ul, p, blockquote, dd {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
  position: absolute;
  bottom: 20px;
  z-index: 5000;
}

a {
  text-decoration: none;
  color: inherit;
}

/* =========================
   CONTAINER
========================= */

.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
}

/* =========================
   ANIMAÇÕES
========================= */

.fadeInDown {
  transform: translate3d(0, -20px, 0);
}

/* =========================
   ANIMAÇÃO JAVASCRIPT
========================= */

.js [data-anime] {
  opacity: 0;
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}
